backend:
  name: git-gateway
  branch: master # Branch to update (master by default)

# This line should *not* be indented
publish_mode: editorial_workflow

media_folder: "/assets/img" # Folder where user uploaded files should go
logo_url: https://jscai.hyahui.com/assets/icons/author.svg
# show_preview_links: true

collections: # A list of collections the CMS should be able to edit
  - name: "post" # Used in routes, ie.: /admin/collections/:slug/edit
    label: "Post" # Used in the UI, ie.: "New Post"
    folder: "/" # The path to the folder where the documents are stored
    sort: "date:desc" # Default is title:asc
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields: # The fields each document in this collection have
      - {label: "Excerpt", name: "excerpt", widget: "hidden", default: ""}
      - {label: "Title", name: "title", widget: "string", tagname: "h1"}
      - {label: "Author", name: "author", widget: "string", required: false}
      - {label: "Publish Date", name: "date", widget: "datetime", format: "YYYY-MM-DD"}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "Permalink", name: "permalink", widget: "string", required: false}
      - {label: "Hidden", name: "hidden", widget: "boolean", default: "false", required: false}

